.card-img-top {
    border-radius: 15px;
    padding: 5px;
    height: 250px;
    width: fit-content;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
}